.gallery {
  display: flex;
  flex-wrap: wrap;
  max-width: 1440px;
  width: 100%;
  margin: 0 auto;

  &__item {
    // width: 46%;
    width: 100%;
    margin: 30px 1%;
  }

  &__img {

    img {
      width: 100%;
    }
  }
}

[data-aspect-ratio] {
  position: relative;

  img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

[data-aspect-ratio="16:9"] {
  padding-bottom: calc(9 * 100% / 16);
}
